<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Band Tracker</title>
  </head>
  <body>
    <h1>Add a new Band to Begin Tracking: </h1>
    <hr>
    <form class="form-group" action="/bands/add" method="post">
      <label for="band-name">Band Name:</label>
      <input type="text" class="form-control" name="band-name" required>
      <label for="band-website">Band Website:</label>
      <input type="text" class="form-control" name="band-website" required>
      <label for="band-email">Band Contact Email:</label>
      <input type="text" class="form-control" name="band-email" required>
      <button type="submit" name="button" class="btn btn-default">Add Band</button>
    </form>
    <a href="/bands">View All Bands</a> |
    <a href="/bands/add">Add a Band to Track!</a> |
    <a href="/venues">View All Venues</a> |
    <a href="/venues/add">Add a Venue to Track!</a>
  </body>
</html>
