<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Band Tracker</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/bands">View All Bands</a></li>
              <li><a href="/bands/add">Add a Band to Track!</a></li>
              <li><a href="/venues">View All Venues</a></li>
              <li><a href="/venues/add">Add a Venue to Track</a></li>
            </ul>
          </div>
        </nav>
        <form class="form-group" action='/venues/@Model["venue"].GetId()' method="post">
          <h1>Edit - @Model["venue"].GetName()</h1>
          <hr>
          <input type="hidden" name="_method" value="PATCH">
          <label for="venue-name">Venue Name:</label>
          <input type="text" name="venue-name" value='@Model["venue"].GetName()' class="form-control" required>
          <label for="venue-phone">Venue Phone Number:</label>
          <input type="text" name="venue-phone" value='@Model["venue"].GetPhone()' class="form-control" required>
          <label for="venue-email">Venue Email:</label>
          <input type="text" name="venue-email" value='@Model["venue"].GetEmail()' class="form-control" required>
          <br>
          <button class="btn btn-secondary" type="submit" name="edit-venue">Submit</button>
        </form>
        <form class="form-group" action='/venues/@Model["venue"].GetId()/delete' method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger" type="button" name="delete">Delete this Venue?</button>
        </form>
      </div>
    </div>
  </body>
</html>
